@media (max-width: 600px) {
  .textfield_cont {
    display: flex;
    flex-direction: column;
  }
  .textfield {
    width: 250px;
  }
  form {
    display: flex;
    width: full;
  }
  .box_cont {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
}
