@media (max-width: 600px) {
  /* navbar */
  .navbar_container_phone {
    display: flex;
    flex-direction: row;
    height: 50px;
  }
  .navbar_container_phone img {
    width: 6.5rem;
  }
  .navbar_container_phone p {
    font-size: 13px;
  }

  /* home hero.jsx */
  .hero_phone_container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .heroburger_phone {
    width: 300px;
  }

  /* home aicards.jsx */
  .aicards_phone_container {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
  }
  .aicard1_phone {
    display: flex;
    margin-bottom: 2rem;
    border: none;
    height: auto;
  }
  .aicard1_phone h1 {
    font-size: 27px;
  }
  .aicard1_phone img {
    width: 6rem;
  }
  .aicard1_phone p {
    font-size: 10px;
  }
  .aicard2_phone {
    display: flex;
    margin-bottom: 2rem;
    border: none;
    height: auto;
  }
  .aicard2_phone h1 {
    font-size: 27px;
  }
  .aicard2_phone img {
    width: 7.5rem;
  }
  .aicard2_phone p {
    font-size: 10px;
  }
  .brand_phone_button {
    font-size: 15px;
    font-weight: 200;
  }
  .arrow_phone {
    display: flex;
    width: 1.75rem;
  }
  /* footer */
  .footer_container_phone {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    padding: 2px;
  }
  .footer_container_heading {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
  }
  .footer_list_phone {
    display: flex;
    width: 100%;
  }
  .footer_lists_phone {
    font-size: 10px;
    margin-left: 0px;
  }
  .footer_lists_heading {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .footer_lists_phone li {
    font-size: 13px;
  }
  .footer_last_sec p {
    font-size: 10px;
  }
}
